.Welcome{
  margin:0; 
}


.Welcome .alert{margin:20px 0 20px 0; display:none;}

.Welcome img{width:185px;}

.Welcome button{border:0px; float:right; width:100px}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: rgb(52,70,94);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(52,70,94,1), rgba(65,146,131,1), rgba(65,146,131,1), rgba(65,146,131,1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(52,70,94,1), rgba(65,146,131,1), rgba(65,146,131,1), rgba(65,146,131,1));
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    border-color: rgb(52,70,94)
  }
}
